<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      $(document).ready(function() {
        var socket = io.connect();
        $('#survey_form').submit(function(e) {
          e.preventDefault();
          socket.emit('posting_form', {
            name: $('#name').val(),
            location: $('#location').val(),
            language: $('#language').val(),
            comment: $('#comment').val()
          });
        });

        socket.on('updated_message', function(data) {
          $('#message').html("You emitted the following information to the server: " + JSON.stringify(data.response));
        });

        socket.on('random_number', function(data) {
          $('#number').html('Your lucky number emitted by the server is : ' + JSON.stringify(data.response));
        });
      });

    </script>
  </head>
  <body>
    <div id="message"></div>
    <div id="number"></div>
    <form id="survey_form" class="" action="" method="post">
      <input type="text" name="name" value="" placeholder="name" id="name">
      <hr>
      <input type="text" name="location" value="" placeholder="location" id="location">
      <hr>
      <input type="text" name="language" value="" placeholder="language" id="language">
      <hr>
      <input type="text" name="comment" value="" placeholder="comment" id="comment">
      <hr>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
