<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to LoginRegistration.com</title>
  </head>
  <style media="screen">
    body {
      font-family: sans-serif;
    }
    h2 {
      color: blue;
    }
    .reset_button {
      margin-top: 20px;
    }
  </style>
  <body>
    {% for i in logged_in_user %}
      <h2>Hi {{ i['first_name'] }}!</h2>
    {% endfor %}

    <h1>{{ greeting }}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3 style="color: green;">{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form class="reset_button" action="/reset" method="get">
      <input type="submit" name="submit" value="Return to Login Page">
    </form>

  </body>
</html>
