<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Messages Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'msgs_app/css/style.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>
    <div id="container">
        <h1>Messages Dashboard</h1>
        <h3>Welcome {{ session_username }}, you are logged in</h3>
        <h2><em>New Message</em></h2>
        <form class="" action="{% url 'msgs:send_message' %}" method="post">
        {% csrf_token %}
        <textarea name="message" rows="4" cols="80"></textarea>
        <p>Your message</p>
        <select class="" name="users_minus_self">
            {% for user in users_minus_self %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" name="submit" class="btn btn-success">Send Message</button>
        </form>
        <br>
        <form class="" action="{% url 'msgs:log_out' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Log Out</button>
        </form>
    </body>
    </div>
</html>
