<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Real Portfolio</title>
  </head>
  <style media="screen">
    .box {
      height: auto;
      width: 400px;
      border: 2px solid black;
    }
  </style>
  <body>
    <h1>Hi, I'm Refayat</h1>
    <h2>Welcome to My Portfolio</h2>
    <div class="box">
      <a href="/projects"><h3>Projects</h3></a>
      <p>Totam veritatis recusandae impedit qui fugit facilis. Dolorem provident consequatur aspernatur sed rem. Nostrum cum accusamus sed voluptates ut eos fuga.</p>
    </div>
    <div class="box">
      <a href="/about"><h3>About</h3></a>
      <p>Totam veritatis recusandae impedit qui fugit facilis. Dolorem provident consequatur aspernatur sed rem. Nostrum cum accusamus sed voluptates ut eos fuga.</p>
    </div>
    <div class="box">
      <a href="/testimonials"><h3>Testimonials</h3></a>
      <p>Totam veritatis recusandae impedit qui fugit facilis. Dolorem provident consequatur aspernatur sed rem. Nostrum cum accusamus sed voluptates ut eos fuga.</p>
    </div>
  </body>
</html>
