<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WELCOME to TEAMS.com</title>
  </head>
  <style media="screen">
    body {
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      width: 400px;
      text-align: center;
      font-family: sans-serif;
    }
    h2 {
      color: black;
    }
    h3 {
      color: red;
    }
    form {
      color: black;
    }
    .reset_button {
      margin-top: 50px;
      text-align: center;
    }
    h1 {
      color: green;
    }
    ul {
      text-align: left;
    }
    .logout {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  </style>
  <body>

    <h1>TEAMS.com</h1>

    {% if request.session.logged_in_user_email %}
      {% for i in user_information %}
        <h2>Welcome {{ i.first_name }}!</h2>
      {% endfor %}
    {%  endif %}

    {% if request.session.registered_user_email %}
      {% for i in user_information %}
        <h2>Welcome {{ i.first_name }}!</h2>
      {% endfor %}
    {%  endif %}

    {% if messages %}
      {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3>
      {% endfor %}
    {% endif %}

    <h2>Join a team</h2>

    <form class="" action="/teams_app/join_team" method="post">
      {% csrf_token %}
      <select name="team_join">
        {% for i in all_teams_minus_what_users_are_part_of %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        <!-- VALUE used in views.py to match -->
        {% endfor %}
      </select>
      <input type="submit" name="submit" value="Join">
    </form>

    <h2>or Make your own team</h2>

    <form class="" action="/teams_app/make_team" method="post">
      {% csrf_token %}
      <input type="text" name="team_name" value="">
      <input type="submit" name="submit" value="Make team">
    </form>

    {% if request.session.logged_in_user_email %}
      {% if all_user_teams %}
        <h2 style="color : blue">Your teams are:</h2>
      {% endif %}
      {% for i in all_user_teams %}
      <ul>
        <li>{{ i.team_id.name }} <a href="leave_team/{{ i.team_id.name }}">Leave team</a></li>
      </ul>
      {% endfor %}
    {% endif %}

    {% if request.session.registered_user_email %}
      {% if all_user_teams %}
        <h2 style="color : blue">Your teams are:</h2>
      {% endif %}
      {% for i in all_user_teams %}
      <ul>
        <li>{{ i.team_id.name }} <a href="leave_team/{{ i.team_id.name }}">Leave team</a></li>
      </ul>
      {% endfor %}
    {% endif %}

    <h2 style="color : blue">Pick a team to view listings</h2>

    <form class="" action="/teams_app/team_listings" method="post">
      {% csrf_token %}
      <select name="team_to_show">
        {% for i in all_teams %}
        <option value="{{ i.name }}">{{ i.name }}</option>
        <!-- VALUE used in views.py to match -->
        {% endfor %}
      </select>
      <input type="submit" name="submit" value="Show team listings">
    </form>

    <form class="logout" action="/teams_app/return_to_index" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Log out and return to home page">
    </form>

  </body>
</html>
