<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SUCCESS</title>
  </head>
  <body>
    <h1>SUCCESS</h1>

    {% if request.session.logged_in_user_email %}
    <h2>Welcome {{ request.session.logged_in_user_email }}</h2>
    {%  endif %}
    {% if request.session.registered_user_email %}
    <h2>Welcome {{ request.session.registered_user_email }}</h2>
    {%  endif %}

    {% if messages %}
      {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3>
      {% endfor %}
    {% endif %}

    <form class="" action="/teams_app/make_team" method="post">
      {% csrf_token %}
      <input type="text" name="team_name" value="">
      <input type="submit" name="submit" value="Make team">
    </form>

    <h2>Select team to join</h2>

    <form class="" action="/teams_app/join_team" method="post">
      {% csrf_token %}
      <select name="team_join">
        {% for i in all_teams_minus_what_users_are_part_of %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        <!-- VALUE used in views.py to match -->
        {% endfor %}
      </select>
      <input type="submit" name="submit" value="Join">
    </form>

    <h2>Teams</h2>

    {% if request.session.logged_in_user_email %}
    <h3>{{ request.session.logged_in_user_email }} your teams are</h3>
      {% for i in all_user_teams %}
      <ul>
        <li>{{ i.team_id.name }}</li>
      </ul>
      {% endfor %}
    {% endif %}

    {% if request.session.registered_user_email %}
    <h3>{{ request.session.registered_user_email }} your teams are</h3>
      {% for i in all_user_teams %}
      <ul>
        <li>{{ i.team_id.name }}</li>
      </ul>
      {% endfor %}
    {% endif %}

    <form class="" action="/teams_app/return_to_index" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Log out and return to home page">
    </form>

    <form class="" action="/teams_app/team_listings" method="post">
      {% csrf_token %}
      <select name="team_to_show">
        {% for i in all_teams %}
        <option value="{{ i.name }}">{{ i.name }}</option>
        <!-- VALUE used in views.py to match -->
        {% endfor %}
      </select>
      <input type="submit" name="submit" value="Show team listings">
    </form>

  </body>
</html>
