<div class="container">

<h1>{{title}}</h1>

<div class="box">
  <button (click)='toggle1()' *ngIf='count1 % 2 === 0' class='onswitch'>ON</button>
  <button (click)='toggle1()' *ngIf='count1 % 2 !== 0' class='offswitch'>OFF</button>
</div>

<div class="box">
  <button (click)='toggle2()' *ngIf='count2 % 2 === 0' class='onswitch'>ON</button>
  <button (click)='toggle2()' *ngIf='count2 % 2 !== 0' class='offswitch'>OFF</button>
</div>

<div class="box">
  <button (click)='toggle3()' *ngIf='count3 % 2 === 0' class='onswitch'>ON</button>
  <button (click)='toggle3()' *ngIf='count3 % 2 !== 0' class='offswitch'>OFF</button>
</div>

<div class="box">
  <button (click)='toggle4()' *ngIf='count4 % 2 === 0' class='onswitch'>ON</button>
  <button (click)='toggle4()' *ngIf='count4 % 2 !== 0' class='offswitch'>OFF</button>
</div>

</div>
