<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>NINJAS</h1>
    {% load static %}
    <img src="{% static "disappearing_ninjas/images/donatello.jpg" %}" alt="" height="250" width="250"><a href="/ninjas/purple">purple</a>
    <img src="{% static "disappearing_ninjas/images/leonardo.jpg" %}" alt="" height="250" width="250"><a href="/ninjas/blue">blue</a>
    <img src="{% static "disappearing_ninjas/images/michelangelo.jpg" %}" alt="" height="250" width="250"><a href="/ninjas/orange">orange</a>
    <img src="{% static "disappearing_ninjas/images/raphael.jpg" %}" alt="" height="250" width="250"><a href="/ninjas/red">red</a>
  </body>
</html>
