<div class="container">

    <fieldset>

        <legend><h2>Home</h2></legend>

        <h3>You are logged in {{ username }}!</h3>

        <form (submit)='addbucketlist()' #formData='ngForm'>

            <p>Title of your Bucket List item</p>
            <input type="text" name="title" value="" required minlength="5" [(ngModel)]="bucketlist.title" #title='ngModel'>

            <div [hidden]='!title.errors'>
                {{ title.errors | json }}
            </div>

            <p>Description</p>
            <input type="text" name="description" value="" required minlength="10" [(ngModel)]="bucketlist.description" #description='ngModel'>

            <div [hidden]='!description.errors'>
                {{ description.errors | json }}
            </div>

            <p>Add a friend to this bucket list</p>
            <p><em>Don't select from the dropdown list if you don't want to add a friend</em></p>

            <select name="users" [(ngModel)]="bucketlist.users" (ngModelChange)="onChange($event)">
                <option *ngFor='let user of users'>{{ user.username }}</option>
            </select>

            <br>
            <button [disabled]="!formData.valid" value="submit" type="submit" name="submit">Add bucket list item</button>

        </form>

        <h3>Before I die I want to...</h3>

        <table>
            <tr>
                <th>Bucket List Item</th>
                <th>Description</th>
                <th>Friend</th>
                <th>Done?</th>
                <th>Check box if done...</th>
            </tr>
            <tr *ngFor='let item of session_user_bucket_list_items'>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.friend }}</td>
                <td>{{ item.status }}</td>
                <td><form (submit)='updatebucketlist()'>
                    <input type="checkbox" name="statusupdate" value="">
                </form></td>
            </tr>
        </table>

        <br>
        {{ session_user_bucket_list_items | json }}

        <br>
        <button (click)='logout()' type="button" name="button">Logout</button>

    </fieldset>

</div>
