<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teams.com</title>
  </head>
  <style media="screen">
    body {
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      width: 350px;
      text-align: left;
    }
    h2 {
      color: blue;
      font-family: sans-serif;
    }
    h3 {
      color: red;
      font-family: sans-serif;
    }
    form {
      color: green;
      font-family: sans-serif;
    }
    .reset_button {
      margin-top: 50px;
      text-align: center;
    }
    h1 {
      color: yellow;
      font-family: sans-serif;
      color: green;
    }
  </style>
  <body>

    <h1>Welcome to Teams.com!</h1>

    <h2>New user? Sign up here!</h2>
    <form class="" action="/registration" method="post">
    {% csrf_token %}
      First Name .............. <input type="text" name="first_name" value="">
      <br>
      Last Name .............. <input type="text" name="last_name" value="">
      <br>
      Email .............. <input type="text" name="email" value="">
      <br>
      Password .............. <input type="password" name="password" value="">
      <br>
      Confirm Password .............. <input type="password" name="password_confirmation" value="">
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>

    {% if messages %}
      {% for message in messages %}
        <h3>{{ message }}</h3>
      {% endfor %}
    {% endif %}

    <h2>Exisiting user? Sign in here!</h2>
    <form class="" action="/login" method="post">
    {% csrf_token %}
      Email .............. <input type="text" name="email" value="">
      <br>
      Password .............. <input type="password" name="password" value="">
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
