* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
#container {
  color: black;
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1000px;
}
.pokemon_images {
  width: 750px;
  display: inline-block;
  text-align: center;
}
.info_box {
  position: fixed;
  left: 861px;
  width: 225px;
  border: 2px solid red;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}
