#wrapper{
 width: 900px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
 height: 570px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-right: 20px;
}
#main_content{
 height: 400px;
 width: 680px;
 background-color: red;
 display: inline-block;
 float: right;
}
.subcontents{
 height: 180px;
 width: 180px;
 background-color: yellow;
 display: inline-block;
 margin: 15px;
}
#middlebox{
  margin-left: -5px;
  margin-right: -5px;
}
#advertisement{
 height: 120px;
 width: 570px;
 background-color: purple;
 margin: 15px 15px 15px 15px;
}
