* {
    font-family: sans-serif;
}
#container {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F7F9DE;
}
.code {
    color: red;
}
.ngClassGreen {
    color: green;
    font-weight: bold;
    background-color: #F2EFFC;
}
.ngClassBlue {
    color: blue;
    font-weight: bold;
    background-color: #F2EFFC;
}
div {
    border: 1px solid #F7F9DE;
}
.ng-valid {
    color: green;
}
.ng-invalid {
    color: purple;
    font-weight: bold;
}
.style-two { /* <hr> line that fades out on both ends */
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      margin-top: 30px;
 }
