<div class="container">
  <fieldset>
    <legend>{{ title }}</legend>
    <h1>Initial Power Level:</h1><input type="number" name="initialPowerLevel" value="" min="1" max="100" [(ngModel)]='user.initialPowerLevel' #initialPowerLevel='ngModel'>
    <button type="button" name="button" (click)='onSubmit()'>Calculate Powers</button>
    <div class="firstRow">
      <div class="comp">
        <app-human [initialPowerLevel]='users[0]'></app-human>
      </div>
      <div class="comp">
        <app-saiyan *ngIf='users[0]' [initialPowerLevel]='users[0]'></app-saiyan>
        <app-saiyan *ngIf='!users[0]' [initialPowerLevel]='0'></app-saiyan>
      </div>
      <div class="comp">
        <app-supersaiyan *ngIf='users[0]' [initialPowerLevel]='users[0]'></app-supersaiyan>
        <app-supersaiyan *ngIf='!users[0]' [initialPowerLevel]='0'></app-supersaiyan>
      </div>
    </div>
    <div class="secondRow">
      <div class="comp">
        <app-supersaiyantwo *ngIf='users[0]' [initialPowerLevel]='users[0]'></app-supersaiyantwo>
        <app-supersaiyantwo *ngIf='!users[0]' [initialPowerLevel]='0'></app-supersaiyantwo>
      </div>
      <div class="comp">
        <app-supersaiyanthree *ngIf='users[0]' [initialPowerLevel]='users[0]'></app-supersaiyanthree>
        <app-supersaiyanthree *ngIf='!users[0]' [initialPowerLevel]='0'></app-supersaiyanthree>
      </div>
      <div class="comp">
        <app-supersaiyanfour *ngIf='users[0]' [initialPowerLevel]='users[0]'></app-supersaiyanfour>
        <app-supersaiyanfour *ngIf='!users[0]' [initialPowerLevel]='0'></app-supersaiyanfour>
      </div>
    </div>
  </fieldset>
</div>
