<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TheWall.com</title>
  </head>
  <style media="screen">
    body {
      font-family: sans-serif;
    }
    h2 {
      color: blue;
    }
    .reset_button {
      margin-top: 20px;
    }
    .message_heading {
      color: red;
    }
    .created_at {
      color: purple;
    }
    .posted_by {
      color: maroon;
    }
    .message {
      font-weight: bold;
    }
  </style>
  <body>
    {% for i in user %}
      <h2>Hi {{ i['first_name'] }}!</h2>
    {% endfor %}

    <h1>{{ greeting }}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3 style="color: green;">{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form class="reset_button" action="/reset" method="get">
      <input type="submit" name="submit" value="Return to Login Page">
    </form>

    <form action="/submit_message" method="post">
      <h2 class='message_heading'>Post a message</h2>
      <textarea name="message" cols="180" rows="20"></textarea>
      <br/>
      <input type="submit" value="Post a message"/>
    </form>

    {% for message in display_messages %}
    
      <p class='message'>{{ message['message'] }}</p>
      <p>posted @</p>
      <p class='created_at'>{{ message['created_at'] }}</p>
      <p>by</p>
      <p class="posted_by">{{message['first_name']}} {{message['last_name']}}</p>

      {% for comment in display_comments %}
        {% if message['message_id'] == comment['message_id']%}
          <p>{{comment['comment']}}</p>
          {% endif %}
      {% endfor %}


      <div>
        <form action="/postComment/{{message['message_id']}}" method="Post">
          <input type="text" name="comment">
          <input type="submit" value="Post Comment">
        </form>
      </div>
    {% endfor %}

  </body>
</html>
