<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to TheWall.com</title>
  </head>
  <style media="screen">
    body {
      font-family: sans-serif;
    }
    h2 {
      color: blue;
    }
    .reset_button {
      margin-top: 20px;
    }
    .message_heading {
      color: red;
    }
  </style>
  <body>
    {% for i in logged_in_user %}
      <h2>Hi {{ i['first_name'] }}!</h2>
    {% endfor %}

    <h1>{{ greeting }}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3 style="color: green;">{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form class="reset_button" action="/reset" method="get">
      <input type="submit" name="submit" value="Return to Login Page">
    </form>

    <form action="/submit_message" method="post">
      <h2 class='message_heading'>Post a message</h2>
      <textarea name="message" cols="180" rows="20"></textarea>
      <br/>
      <input type="submit" value="Post a message"/>
    </form>

    {% for i in display_messages %}
      <p>{{ i['message'] }} posted at {{ i['created_at'] }} by {{ i['user_id'] }}</p>
    {% endfor %}

  </body>
</html>
